body {
  background: black;
  color: #fff;

}

.navbar {
  border-bottom: #00d68f 7px solid;
  /*border-bottom: #00d68f 7px solid;*/
  /*opacity: 0.8;*/
}
ul .nav-tabs{
}

#entrar-section {
  background: url(ifpictzs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 650px;
}
footer{

}
#entrar-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px;
  background: rgba(0, 0, 0, 0.5);
}

#entrar-section .row {
  padding-top: 62px;
}

#entrar-section .row .cardEntrar{
  opacity: 0.8;
}

#entrar-section .row .cardrow {

}


#atpa-section .row{
  color: black;
  text-align: center;
}

#pccs-section .row{
  color: black;
  text-align: center;
}


#cadastro-head-section {
  width: 100%;
  /*min-height: 10px;*/
}

#cadastro-section {
  /*min-height: 400px;*/
}
