
body{
  /*background-image: url("fundo.png"); */
  background-position: center;
  background-size: contain;
}

h1{
  color: white;
}

a:hover{
  color: green;
}

nav{
  text-align: center;
  float: center;
  text-align: center;
  color: black;
  font-size: 20px;
}

nav a{
  color: black;
}


footer{
	text-align: center;
  color: white;
}

/*
body{
  background-image: url(https://images4.alphacoders.com/587/587508.png);
}*/
