

html,h1,div,nav,li,a, center, footer,body {
   background: url(fundo.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

h1, center{
  color: white;
}

a:hover{
  color: yellow;
}
a:active{
  color: yellow;
}

nav{
  text-align: center;
  float: center;
  text-align: center;
  color: white;
  font-size: 20px;
  list-style-type: none;
}

nav a{
  font-family: sans-serif;
  font-size: 25px;
  color: white;
}

footer{
	text-align: center;
  color: white;
}

.sombra{
  width:40%;
	height:200px;
	float:left;
	background-color:green;
  margin:25px 15px;
	border-radius:5px;
}

/*
body{
  background-image: url(https://images4.alphacoders.com/587/587508.png);
}*/
