.menu {
  background: #EEE685;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px;
}

a:link { /*não visitados*/
  color: #b9c941;
  text-decoration: none;
}

a:visited {

  color: #458B00;
}

a:hover{
  background: black;
  color: #8B4726;
}

a:active {
  color: #FF1493;
}

a{
  text-decoration: none;
}
