/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background: #f3f3f3;*/
	/*background:green;*/
}

nav {
	margin-bottom: 10px;
	margin-top: 15px;
	background: #fff;
	width: 60%;
	margin-left: 23%;
	text-align: right;
	font-size: 25px;
	display: inline-block;
}

nav strong{
	margin-left: 10px;
	margin-right: 5px;
}

p{
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

#logo {
	margin-top: -10px;
	margin-left: 15px;
	font-size: 28px;
	float: left;
}

section{
	margin-top: 20px;
	background: #f3f3f3; /*#D3D3D3;*/
	width: 60%;
	margin-left: 23%;
}

article {
	margin-top: 15px;
	width: 95%;
	margin-left: 15px;
  font-size: 15px;
  text-align: justify;
  display: inline-block;
  text-align: justify;
  font-size: 15px;
	border-radius: 30px 30px 30px 30px;
	background: linear-gradient( to top right,#fff	,#9ACD32 );
	box-sizing: border-box;
	box-shadow: 10px 10px 5px #888888;
}

h2 {
  text-shadow: 2px 2px gray;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 25px;
	color: #9ACD32;
}

header hr{
	width: 99.8%;
	margin-left: 0px;
}

hr{
	width: 97.5%;
	margin-top: 15px;
	margin-left: 15px;
}

/****************************************************
***********************Formatação do menu************/
a {
	color: gray;
}
/*Links não visitados*/
a:link {
	color: blue;
}

/*Links vistados*/
a:visited {
	color: green;
}

/*Links hover*/
a:hover {
	background: #9ACD32;
	color: white;
}

/*Links active*/
a:active {
	color: #FF1493;
}

/*Classes*/
.verde {
	color: #9ACD32;
}

.data-postagem {
	margin-left: 30px;
}

.img-postagem{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	border-radius: 10px 10px 10px 10px;
}

.postado {
	margin-left: 45px;
}
