body{
  background: black;
}

h1{
  text-align: center;
}

header{
  color: white;
}

.one{
  border-radius:300% 0% 0% 0%;
  background: green;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.two{
  border-radius: 0% 300% 0px 0px;
  background: blue;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
}

.three{
  border-radius: 0% 0% 0% 300%;
  background: red;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  display: block;
}

.four{
  /*border-radius: 0px 0px 0px 300px;*/
  border-radius: 0% 0% 300% 0%;
  background: yellow;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  display: flex;

}


.one2{
  border-radius: 300% 900% 0% 900%;
  background: green;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.two2{
  border-radius: 900% 300% 900% 0%;
  background: blue;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  display: flex;
}

.three2{
  border-radius: 900% 0% 900% 300%;
  background: red;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  float: left;
  display: block;
}

.four2{
  /*border-radius: 0px 0px 0px 300px;*/
  border-radius: 0% 900% 300% 900%;
  background: yellow;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  float: left;
  display: flex;
}
